[user]
	name = admenmod
	email = admenmod@gmail.com

[diff]
	tool = nvimdiff
    colorMoved = default
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
	# cmd = nvim -d -c 'if &diff | wincmd J | endif' \"$LOCAL\" \"$REMOTE\" | nvim -f -c 'DiffOrig $LOCAL' -c 'wincmd p' -
	keepbackup = false
	trustexitcode = false

[merge]
	tool = nvimmerge
    conflictstyle = diff3
[mergetool "nvimmerge"]
	cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\" -c 'wincmd w' -c 'wincmd J' -c 'wincmd J'
	trustexitcode = false

[core]
	pager = delta
	excludesFile = ~/.gitignore
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	features = decorations
	line-numbers = true
#	side-by-side = true
[delta "interactive"]
	keep-plus-minus-markers = false
[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax

[safe]
	directory = /storage/emulated/0/Obsidian
[init]
	defaultBranch = master
[credential]
	helper = store
