[user]
	name = admenmod
	email = admenmod@gmail.com
[merge]
	tool = vimdiff
    conflictstyle = diff3
[diff]
	tool = vimdiff
    colorMoved = default
[mergetool "vimdiff"]
	path = nvim

[core]
    pager = delta
	excludesFile = ~/.gitignore
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    features = decorations
	line-numbers = true
#	side-by-side = true
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[init]
	defaultBranch = master
[credential]
	helper = store

