snippet event "public event = new Event<This, Args>(this);"
public '@${1:event}' = new Event<${2:null}, [${3:}]>(${4:this});
endsnippet

snippet NOTIFICATION "public static readonly NOTIFICATION_...: number;"
public static readonly NOTIFICATION_${1:...} = ${2:number};
endsnippet
